#banner {
    width: 100%;
    margin-bottom: -5px;
}

.principal {
    background: #cccccc;
    padding: 30px;
    font-size: 20px;
    line-height: 1.2;
}

.titulo-principal{
    text-align: center;
    font-size: 35px;
    padding: 20px;
    font-weight: bold;

}

.titulo-centralizado {
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-weight: bold;

    
}

p {
    text-align:center
}

#missao {
    font-size: 20px
}

em strong {
    color: red;
}

.itens {
    font-style: italic;

}

.beneficios {
    background: #ffff;
    padding: 20px;
}    

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}
